<script setup lang="ts">
import { ref } from 'vue'
import { useMemberStore } from '@/stores/member'

const memberStore = useMemberStore()
// const dialog = ref(false)
const newMemberName = ref('')
const newMemberTel = ref('')

function saveMember() {
  const newMember = {
    id: memberStore.members.length + 1, // ปัญหาอาจเกิดที่นี่
    name: newMemberName.value,
    tel: newMemberTel.value
  }
  memberStore.addMember(newMember)
  console.log(memberStore.members)

  // Optionally, you can clear the input fields after saving.
  newMemberName.value = ''
  newMemberTel.value = ''
}
</script>

<template>
  <v-dialog v-model="memberStore.memberDialog" persistent width="600">
    <v-card>
      <!-- <img src="/img/cafe/Logo.jpg" width="150" height="150" style="display: block; margin: auto" /> -->
      <v-card-title class="text-h5" style="text-align: left"> Add member </v-card-title>
      <v-container>
        <v-row>
          <v-col cols="6"
            ><v-text-field
              v-model="newMemberName"
              label="Full Name"
              prepend-icon="mdi-account"
              variant="underlined"
            ></v-text-field
          ></v-col>
          <v-col cols="6"
            ><v-text-field
              v-model="newMemberTel"
              label="Tel"
              prepend-icon="mdi-phone-in-talk"
              variant="underlined"
            ></v-text-field
          ></v-col>
        </v-row>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              memberStore.memberDialog = false
            }
          "
        >
          ปิด
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              // memberStore.memberDialog = false
              saveMember()
            }
          "
        >
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
