<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { ref } from 'vue'
import { useReceiptStore } from '@/stores/receipt'
import AddMember from './AddMember.vue'
const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
  memberStore.searchMember(tel.value)
  if (memberStore.currentMember) {
    receiptStore.updateCurrentMember(memberStore.currentMember)
  }
  receiptStore.calReceipt()
}

function showDialogAddMember() {
  console.log()
  memberStore.memberDialog = true
}
</script>

<template>
  <v-container class="bg-teal-darken-4">
    <v-row no-gutters>
      <v-col cols="6"
        ><v-text-field
          prepend-icon="mdi-account"
          v-model="tel"
          density="compact"
          variant="solo"
          label="Search Tel"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="onClick"
          @keyup.enter="onClick"
        ></v-text-field
      ></v-col>
      <v-col cols="4" class="pa-2 text-center"
        >{{ memberStore.currentMember ? memberStore.currentMember?.name : 'Not Found' }}
      </v-col>
      <v-col class="mt-2">
        <v-icon @click="showDialogAddMember"> mdi-account-multiple-plus</v-icon>
        <AddMember></AddMember>
      </v-col>
    </v-row>
  </v-container>
</template>
