<script setup lang="ts">
import { ref, defineProps } from 'vue';
import { uselistnamepayStore } from '@/stores/listnamepay';
import { loginData, type User} from "@/types/User";
import CheckInOut from '../checkInOut/CheckInOut.vue';

const listnamepayStore = uselistnamepayStore();
const listNamepay = uselistnamepayStore()
const props = defineProps<{
  listnamepays: User[];
}>();

const checkedStates = ref<{ [key: number]: boolean }>({});
const generateEmptyArray = (length: number, initialValue: any) =>
  Array.from({ length }, () => initialValue);

const idCount = 999;

const Timein = ref<string[]>(generateEmptyArray(idCount, "-"));
const Timeout = ref<string[]>(generateEmptyArray(idCount, "-"));
const Role = ref<string[][]>(generateEmptyArray(idCount, [] as string[]));
const totalWorkHours = ref<number[]>(generateEmptyArray(idCount, 0));
const Status = ref<string[]>(generateEmptyArray(idCount, "ไม่อนุมัติ"));

function Openshow(employee: User) {
  // let date1 = new Date(employee.timein);
  // let date2 = new Date(employee.timeout);
  // const timework = employee.timework;
  // const hoursDifference = date2.getTime() - date1.getTime();
  console.log("Before pushing to listnamepay.listnamepay eiei:", employee.timein);
  console.log("Before pushing to listnamepay.listnamepay eiei:", employee.timework);
  const index = props.listnamepays.findIndex((user) => user.id === employee.id);
  if (index !== -1) {
    if (checkedStates.value[employee.id]) {
      Timein.value[index] = employee.timein;
      Timeout.value[index] = employee.timeout;
      Role.value[index] = employee.roles;

      const correspondingUser = loginData.value.find((user) => user.id === employee.id);

    
    totalWorkHours.value[index] = correspondingUser ? parseFloat((correspondingUser.timework * 330).toFixed(0)) : 0;
 ;
      // parseFloat((employee.timework * 330).toFixed(0))
      Status.value[index] = "รอดำเนินการ";
    } else {
      Timein.value[index] = "-";
      Timeout.value[index] = "-";
      Role.value[index] = [];
      totalWorkHours.value[index] = 0;
      Status.value[index] = "ไม่อนุมัติ";
    }
  }
}

function StatusColor(status: string): string {
  return status === 'รอดำเนินการ' ? 'orange' : 'red';
}
</script>


<template>
  <v-card >
    <v-table fixed-header   height="500px" style="overflow: auto;" >
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">FullName</th>
          <th class="text-center">Time In</th>
          <th class="text-center">Time Out</th>
          <th class="text-center">Roles</th>
          <th class="text-center">Status</th>
          <th class="text-center">Salary</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr  v-for="(item, index) in listNamepay.listnamepay" :key="index">
          <td class="text-center">{{ item.id }}</td>
          <td class="text-center">{{ item.fullName}}</td>
          <td class="text-center">{{ Timein[index] }}</td>
          <td class="text-center">{{ Timeout[index] }}</td>
          <td class="text-center">{{ (Role[index] || []).join(', ') }}</td>
          <td class="text-center" :style="{ color: StatusColor(Status[index]) }">{{ Status[index] }}</td>
          <td class="text-center">{{ item.timework=totalWorkHours[index]  }} ฿</td> 
          <td class="text-center">
            <div>
              <input type="checkbox" v-model="checkedStates[item.id]" @change="() => Openshow(item)" />
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped></style>
