<script setup lang="ts">
import { uselistnamepayStore } from "@/stores/listnamepay";
import { type User, user } from "@/types/User";
import { ref } from "vue";

const listNamepay = uselistnamepayStore();
const users = ref<User[]>(user);

const email = ref('');
const password = ref('');
const dialog = ref(false);
const showPassword = ref()
function nameadd() {
  listNamepay.showAddDialog();
  const currentUserIndex = users.value.findIndex(user => user.email === email.value && user.password === password.value);

  if (currentUserIndex !== -1) {
    const currentUser = users.value.splice(currentUserIndex, 1)[0];

    const date1 = new Date(currentUser.timein).getTime();
    const date2 = new Date(currentUser.timeout).getTime();
    const hoursDifference = date2 - date1;
    const totalWorkHours = hoursDifference / (1000 * 60 * 60);

    // console.log("Before pushing to listnamepay.listnamepay:", currentUser.timework);

    if (!Number.isNaN(totalWorkHours)) {
      listNamepay.listnamepay.push({
        id: currentUser.id,
        email: currentUser.email,
        password: currentUser.password,
        fullName: currentUser.fullName,
        gender: currentUser.gender,
        roles: currentUser.roles,
        timein: currentUser.timein,
        timeout: currentUser.timeout,
        timework: currentUser.timework,
        status: currentUser.status
      });

      // console.log("After pushing to listnamepay.listnamepay:", currentUser.timework);
    } else {
      console.log("Invalid!!!!!!!!!!!");
    }
  }

  resetForm();
}


function resetForm() {
  email.value = "";
  password.value = "";
}
</script>

<template>
  <v-row justify="end" >
    <v-dialog v-model="dialog" persistent width="1024" >
      <template v-slot:activator="{ props }">
        <v-btn color="green" v-bind="props">
          Add EM
        </v-btn>
      </template>
      <v-card class="custom-dialog-card">
        <v-card-title>
          <span class="text-h5">Add List Employee</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" >
                <v-text-field label="Email" v-model="email" required>
                </v-text-field>
              </v-col>
              
              
<v-col cols="12">
  <v-text-field
    label="Password"
    v-model="password"
    :type="showPassword ? 'text' : 'password'"
    required
  ></v-text-field>
</v-col>
<v-col cols="12">
  <v-checkbox v-model="showPassword" label="Show Password"></v-checkbox>
</v-col>

            </v-row>
          </v-container>
          
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="pink" variant="text" @click="dialog = false">
            Close
          </v-btn>
          <v-btn color="green" variant="text" @click="nameadd(); dialog = false">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>
.custom-dialog-card {
  background-color: floralwhite;
}
</style>