<script setup lang="ts">
import 'charts.css'
import { useReceiptStore } from '@/stores/receipt'
import ReceiptDialogDetail from './pos/ReceiptDialogDetail.vue'
import { computed, onMounted, Ref, ref } from 'vue'
import { loginData } from '../types/User'
import { VPicker } from 'vuetify/labs/VPicker'
const receiptStore = useReceiptStore()
const tab = ref()
const showReceiptDetails = (receiptId: number) => {
  console.log(receiptId)

  receiptStore.loadReceiptDetail(receiptId)
}
let cumulativeTotal = ref(0)

const receiptee = [
  {
    id: 1,
    createdDate: '02/01/2022',
    totolBefor: 700000,
    memberDiscount: 0,
    total: 700000,
    userId: 2,
    memberId: 0
  },
  {
    id: 2,
    createdDate: '03/01/2023',
    totolBefor: 800000,
    memberDiscount: 0,
    total: 800000,
    userId: 3,
    memberId: 1
  },
  {
    id: 3,
    createdDate: '04/01/2024',
    totolBefor: 800,
    memberDiscount: 20,
    total: 780,
    userId: 1,
    memberId: 2
  },
  {
    id: 4,
    createdDate: '04/01/2024',
    totolBefor: 1500,
    memberDiscount: 100,
    total: 1400,
    userId: 4,
    memberId: 3
  },
  {
    id: 5,
    createdDate: '05/01/2024',
    totolBefor: 2000,
    memberDiscount: 150,
    total: 1850,
    userId: 5,
    memberId: 4
  },
  {
    id: 6,
    createdDate: '05/01/2023',
    totolBefor: 600,
    memberDiscount: 30,
    total: 570,
    userId: 2,
    memberId: 0
  },
  {
    id: 7,
    createdDate: '06/01/2024',
    totolBefor: 1200,
    memberDiscount: 80,
    total: 1120,
    userId: 3,
    memberId: 1
  },
  {
    id: 8,
    createdDate: '07/01/2024',
    totolBefor: 1800,
    memberDiscount: 120,
    total: 1680,
    userId: 4,
    memberId: 3
  },
  {
    id: 9,
    createdDate: '07/01/2024',
    totolBefor: 1000,
    memberDiscount: 50,
    total: 950,
    userId: 5,
    memberId: 4
  },
  {
    id: 10,
    createdDate: '08/01/2024',
    totolBefor: 500,
    memberDiscount: 10,
    total: 490,
    userId: 1,
    memberId: 2
  },
  {
    id: 11,
    createdDate: '08/01/2024',
    totolBefor: 500,
    memberDiscount: 10,
    total: 490,
    userId: 1,
    memberId: 2
  },
  {
    id: 12,
    createdDate: '09/01/2024',
    totolBefor: 1000,
    memberDiscount: 10,
    total: 990,
    userId: 1,
    memberId: 2
  }
]


receiptStore.savedReceipts.forEach((item) => {
  const dateString = String(item.createdDateString)
  const dateOnly = new Date(dateString).toLocaleDateString('en-GB')
  const receiptItem = {
    id: item.id,
    createdDate: dateOnly,
    totolBefor: item.totolBefor,
    memberDiscount: item.memberDiscount,
    total: item.total,
    userId: item.user ? item.user.id : null,
    memberId: item.member ? item.member.id : null
  }

  const sanitizedReceiptItem = {
    ...receiptItem,
    userId: receiptItem.userId ?? 0,
    memberId: receiptItem.memberId ?? 0
  }

  receiptee.push(sanitizedReceiptItem)
  console.log(receiptee)
})

const calculateCumulativeTotal = (currentIndex: number) => {
  return receiptStore.savedReceipts
    .slice(0, currentIndex + 1)
    .reduce((accumulator, currentItem) => accumulator + currentItem.total, 0)
}

const totalByDate = ref<Record<string, number>>({})
const totalAmount = ref(0)

const latest7Entries = computed(() => {
  const allEntries = Object.entries(totalByDate.value)
  const last7Entries = allEntries.slice(-7)

  return last7Entries.map(([createdDate, total]) => ({ createdDate, total }))
})

const latestEntry = computed(() => {
  const allEntries = Object.entries(totalByDate.value)
  const latest = allEntries[allEntries.length - 1]

  return latest ? { createdDate: latest[0], total: latest[1] } : null
})

onMounted(() => {
  receiptee.forEach((item) => {
    const { createdDate, total } = item
    totalByDate.value[createdDate] = (totalByDate.value[createdDate] || 0) + total
    
  })

  totalAmount.value = receiptee.reduce((total, item) => total + item.total, 0)

  console.log(totalAmount.value)
  console.log(totalByDate.value)


  receiptStore.savedReceipts.forEach((item) => {
    cumulativeTotal.value += item.total
  })
})

const totalByYear: Ref<Record<number, number>> = computed(() => {
  const result: Record<number, number> = {};

  for (const [date, total] of Object.entries(totalByDate.value)) {
    const year = Number(date.split('/')[2]);

    if (!isNaN(year)) {
      result[year] = (result[year] || 0) + total;
    }
  }

  return result;
});
const rowCount = computed(() => receiptStore.savedReceipts.length)

const countEmployee = computed(() => loginData.value.length);

</script>

<template>
  <div fluid class="ma-0 bg-grey-darken-4">
    <v-container fluid class="ma-0 bg-grey-darken-4">
      
      <v-row>


      <v-col>
        
        <v-card
            class="ma-2 pa-2 d-flex justify-end mb-6 "
            max-width="344">

        <v-card
        class="mx-auto"
        max-width="330"
        min-width="330"
        title="Total : "
        prepend-icon="mdi-finance"
        variant="flat"

      >
        <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;"> {{ totalByYear?.[Object.keys(totalByYear)?.pop()] || 'No data' }}฿</v-card-text>
      </v-card>
    
    </v-card>

      </v-col>

    <v-col>
      <v-card
            class="ma-2 pa-2 d-flex justify-end mb-6"
            max-width="344">
        <v-card
        class="mx-auto"
        max-width="330"
        min-width="330"
        title="Employees  : "
        prepend-icon="mdi-account-group"
        variant="flat"
      >
        <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;">{{ countEmployee }} / 100</v-card-text>
      </v-card>

    </v-card>
    </v-col>

    <v-col>
      <v-card
            class="ma-2 pa-2 d-flex justify-end mb-6 "
            max-width="344">
        <v-card
        class="mx-auto"
        max-width="330"
        min-width="330"
        title="Daily Receipt : "
        prepend-icon="mdi-note-check"
        variant="flat"
      >
        <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;">{{ rowCount }}</v-card-text>
      </v-card>
    </v-card>
    </v-col>

    <v-col>
      <v-card
            class="ma-2 pa-2 d-flex justify-end mb-6"
            max-width="344">
        <v-card
        class="mx-auto"
        max-width="330"
        min-width="330"
        title="Daily Sales : "
        prepend-icon="mdi-cash-multiple"
        variant="flat"
      >
        <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;">{{ cumulativeTotal }}฿</v-card-text>
      </v-card>
    </v-card>
    </v-col>



      </v-row>

      <v-row >
        <v-col>
          <v-card
            class=" pa-2 d-flex justify-end mb-6 bg-teal-darken-4"
            height="100%"
            max-height="624px"
 
            variant="elevated"
          >
            <v-card width="100%"  class="bg-surface-variant">
              <h2 style="text-align: center;" class="bg-teal-darken-4" >Circulation</h2>
              <v-tabs v-model="tab" width="100%" bg-color="teal-darken-4">
                <v-tab value="one">seven days</v-tab>
                <v-tab value="two">year</v-tab>
              </v-tabs>

              <v-card-text>
                <v-window v-model="tab">
                  <v-window-item value="one">
                    <div id="animationsG">
                      
                      <table class="charts-css column data-outside show-labels data-spacing-6">
                        
                        <h1 style="text-align: center">Last 7 days</h1>
                        
                        <tbody style="height: 100%; padding: 3%">
                          <tr v-for="(entry, index) in latest7Entries" :key="index">
                            <th scope="row" style="font-size: small">{{ entry.createdDate }}</th>
                            <td :style="{ '--size': entry.total / 10000 }">
                              <span class="data">{{ entry.total }}</span>
                            </td>
                            
                          </tr>
                        </tbody>
                      </table>
                      
                    </div>
                  </v-window-item>

                  <v-window-item value="two">
                    <div id="animationsG">
                      <table class="charts-css column data-outside show-labels data-spacing-6">
                        <h1 style="text-align: center">Year</h1>
                        <tbody style="height: 100%;padding: 3%" >
                          <tr v-for="(total, year) in totalByYear" :key="year">
                            <th scope="row" style="font-size: small">{{ year }}</th>

                            <td :style="{ '--size': total / 2000000 }">
                              <span class="data">{{ total }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </v-window-item>
                </v-window>
              </v-card-text>
            </v-card>
          </v-card>
        </v-col>

        <v-col>

          <v-card
            class=" pa-2 d-flex justify-end mb-6 bg-teal-darken-4"
            height="300px"
        
            variant="elevated"
          >
          
 
          <v-card  height="100%" width="100%"  class="bg-teal-darken-4">
            <h2 style="text-align: center;" >Employee currently at work</h2>
            <v-table fixed-header height="500px"  style="overflow: auto"  class="rounded-table  bg-surface-variant"  :elevation="20" >
            <thead >
              <tr >
                <th class="text-center  bg-teal-darken-4 ">ID</th>
                <th class="text-center  bg-teal-darken-4">Name</th>
                <th class="text-center  bg-teal-darken-4">Role</th>
                <th class="text-center  bg-teal-darken-4">Status</th>
        
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in loginData" :key="user.id">
                <td class="text-center " >{{ user.id }}</td>
                <td class="text-center">{{ user.fullName }}</td>
                <td class="text-center">{{ user.roles.join(', ') }}</td>
                <td class="text-center">{{ user.status }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
        </v-card>
  
          
          <v-card
            class="pa-2 d-flex justify-end mb-6 bg-teal-darken-4"
            height="300px"
            variant="elevated"
          >
          <v-card height="100%" width="100%"  class="bg-surface-variant">
            <h2 style="text-align: center;" class="bg-teal-darken-4" >Receipt</h2>
            <v-table fixed-header   style="overflow: auto"  class="rounded-table bg-surface-variant"  :elevation="20" >
          <thead>
            <tr>
              <th class="text-center  bg-teal-darken-4 ">Id</th>
              <th class="text-center  bg-teal-darken-4 ">User</th>
              <th class="text-center  bg-teal-darken-4 ">Member</th>
              <th class="text-center  bg-teal-darken-4 ">Date</th>
              <th class="text-center  bg-teal-darken-4 ">TotolBefor</th>
              <th class="text-center  bg-teal-darken-4 ">MemberDiscount</th>
              <th class="text-center  bg-teal-darken-4 ">Totol Net</th>
              <th class="text-center  bg-teal-darken-4 "></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in receiptStore.savedReceipts" :key="item.id">
              <td class="text-center">{{ item.id }}</td>
              <td class="text-center">{{ item.user?.fullName }}</td>
              <td class="text-center">{{ item.member?.name }}</td>
              <td class="text-center">{{ item.createdDateString }}</td>
              <td class="text-center">{{ item.totolBefor }}</td>
              <td class="text-center">{{ item.memberDiscount }}</td>
              <td class="text-center">{{ item.total }}</td>
              <td class="text-center">
                <v-icon size="small" class="me-2" @click="showReceiptDetails(item.id)"
                  >mdi-eye</v-icon
                >
              </td>
            </tr>
          </tbody>
          <ReceiptDialogDetail></ReceiptDialogDetail>
        </v-table>

        </v-card>
        </v-card>
        </v-col>




    </v-row>


 
    </v-container>
  </div>
</template>

<style scoped>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#animationsG {
  width: 100%;
  margin: 0 auto;
}
#animationsG .column {
  --aspect-ratio: 2 / 1;


  

  
}
#animationsG .column tbody td {
  transform-origin: bottom;
  animation: revealing-bars 5s none;
  border-radius: 10px;

}

@keyframes revealing-bars {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(1);
  }
}


  .v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>
