<script setup lang="ts">
import { ref, defineEmits } from 'vue'
import type { VForm } from 'vuetify/components'
import { type User } from '@/types/User'
import { user } from '@/types/User'
import MainMenu from '@/components/MainMenu.vue'
import { useAuthStore } from '@/stores/auth'
import { useReceiptStore } from '@/stores/receipt'

const form = ref<InstanceType<typeof VForm> | null>(null)
const valid = ref(true)
const status = ref(false)
const Email = ref('')
const Password = ref('')
const users = ref<User[]>(user)
const { currentUser } = useAuthStore()
const receiptStore = useReceiptStore()
const snackbar = ref(false);
const text = ref<string>(`Please check the accuracy.`);
const emit = defineEmits<{
  (e: 'login', status: boolean): void
}>()

const login = async () => {
  receiptStore.clear()
  console.log(receiptStore)

  const { valid } = await form.value!.validate()
  if (valid) {
    for (const user of users.value) {
      if (user.email === Email.value && user.password === Password.value) {
        console.log('found', user.id, user.email, user.password)
        status.value = true

        const authStore = useAuthStore()
        authStore.currentUser = {
          id: user.id,
          email: user.email,
          fullName: user.fullName,
          password: user.password,
          gender: user.gender,
          roles: user.roles,
          timein: '',
          timeout: '',
          timework: 0,
          status:''
        }

        // Emit a custom event
        emit('login', status.value)
        console.log(authStore.currentUser)
        console.log(receiptStore.receipt)
        break
      } else {
        console.log('not found')
        snackbar.value = true;
      }
    }
  }
}
</script>

<template>
  <div style="position: relative">
    <video src="/public/img/cafe/videoplayback.webm" autoplay loop muted></video>

    <v-container style="position: absolute; top: 0; right: 0; bottom: 0; left: 0">
      <v-row justify="center" align="center" no-gutters>
        <v-col xs="12" sm="8" md="6" lg="5" class="text-center">
          <v-card
            width="100%"
            height="auto"
            class="mx-auto"
            style="padding: 23px; display: flex; flex-direction: column; justify-content: flex-end"
          >
            <v-img
              width="40%"
              src="./img/cafe/Beige and Black Purely Typographic Psychiatric Doctor Logo.png"
              class="mx-auto d-flex justify-center align-center"
              cover
            ></v-img>
            <v-card-title primary-title style="text-align: center; padding-bottom: 10%"
              >Login</v-card-title
            >
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  label="Email"
                  required
                  hide-details
                  v-model="Email"
                  variant="outlined"
                  prepend-inner-icon="mdi-email"
                ></v-text-field>

                <v-text-field
                  label="Password"
                  required
                  hide-details
                  type="password"
                  v-model="Password"
                  icon="mdi-checkbox-marked-circle"
                  variant="outlined"
                  prepend-inner-icon="mdi-lock"
                  style="margin-top: 5%"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-action style="padding: 20px; width: 100%">
              <v-btn color="success" @click="login" variant="outlined" prepend-icon="mdi-login"
                >Sign in</v-btn
              >
            </v-card-action>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>

    <v-snackbar
      v-model="snackbar"
      multi-line
    >
      {{ text }}

      <template v-slot:actions>
        <v-btn
          color="red"
          variant="text"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

</template>

<style scoped>
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Additional styles for positioning */
.v-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
