<script setup lang="ts">
import MainMenu from './components/MainMenu.vue'
import { RouterLink, RouterView } from 'vue-router'
import Login from './views/LoginView.vue'
import { computed, ref } from 'vue'
import type { User } from '@/types/User'
import { user } from './types/User'
import { useAuthStore } from './stores/auth'
import { useReceiptStore } from './stores/receipt'
const authStore = useAuthStore()
const users = ref<User[]>(user)
const isLoggedIn = ref(false)
const receiptStore = useReceiptStore

const login = (status: boolean): void => {
  if (status == true) {
    isLoggedIn.value = true
    console.log('Main = ' + receiptStore)
    console.log(isLoggedIn.value)
  }
}

const logout = () => {
  authStore.currentUser = {
    id: -1,
    fullName: '',
    email: '',
    password: '',
    gender: 'male',
    roles: [],
    timein: '',
    timeout: '',
    timework: 0,
    status: ''
  }
  isLoggedIn.value = false
}
</script>
<template>
  <Login v-if="isLoggedIn == false" @login="login" />
  <!-- <MainMenu></MainMenu>   -->
  <MainMenu v-if="isLoggedIn" @logout="logout"></MainMenu>
</template>
<style scoped></style>
