<script setup lang="ts">
import { type Stock } from '@/types/Stock'

import { useStockStore } from '@/stores/stock'

import StockTable from './StockTable.vue'
import HistoryImportDialog from './HistoryImportDialog.vue'
import StockUpdate from './StockUpdate.vue'
import StockCheckDialog from './StockCheckDialog.vue'
import StockDialogImport from './StockImportDialog.vue'
import ReceiptImportDialog from './ReceiptImportDialog.vue'
import ReceiptImportDialogDetails from './ReceiptImportDialogDetails.vue'
import { computed } from 'vue'

const stockStore = useStockStore()
const stock: Stock[] = stockStore.stock

function showDialog() {
  stockStore.showImportDialog()
}
function printCheckStock() {
  stockStore.showCheckStock()
}

function showHistory() {
  stockStore.historyDialog = true
}

function showUpdate() {
  stockStore.updateDialog = true
}

const countAlmostStock = computed(function () {
  const m = stockStore.countAlmostStock()
  return m
})
const countOutStock = computed(function () {
  const m = stockStore.countOutOfStock()
  return m
})
</script>
<template>
  <div id="app" class="d-flex justify-center">
    <v-card variant="tonal" width="100%" min-width="500" max-width="1200" max-height="600" min-height="900"
      class="ma-3 bg-teal-darken-4" :elevation="18">
      <div style="
          background-color: rgb(0, 0, 0);
          color: aliceblue;
          text-align: center;
          font-size: 50px;
          font-family: Arial, Helvetica, sans-serif;
        ">
        STOCK
      </div>
      <v-row>
        <v-col>
          <v-card class="ma-2 pa-2 d-flex justify-end mb-6 " max-width="344" min-height="117">
            <v-card class="mx-auto" max-width="330" min-width="330" title="ALL Stock : " prepend-icon="" variant="flat"
              @click="stockStore.All = true, stockStore.changeTable()">
              <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;"></v-card-text>
            </v-card>
          </v-card>
        </v-col>

        <v-col>
          <v-card class="ma-2 pa-2 d-flex justify-end mb-6" max-width="344" min-height="117" style="background-color: rgb(250, 197, 24);">
            <v-card class="mx-auto" max-width="330" min-width="330" title="Almost out of stock  : " variant="flat"
              style="background-color: rgb(250, 197, 24);" @click="stockStore.Almost = true, stockStore.changeTable()">
              <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;">
                {{ countAlmostStock }}
              </v-card-text>
            </v-card>
          </v-card>
        </v-col>

        <v-col>
          <v-card class="ma-2 pa-2 d-flex justify-end mb-6 " max-width="344" min-height="117" style="background-color: rgb(255, 0, 0);">
            <v-card class="mx-auto" max-width="330" min-width="330" title="Out of Stock : " prepend-icon="" variant="flat"
              style="background-color: rgb(241, 74, 7);" @click="stockStore.Out = true, stockStore.changeTable()">
              <v-card-text style="text-align: right; font-size: xxx-large; margin: 2%;">
                {{ countOutStock }}
              </v-card-text>
            </v-card>
          </v-card>
        </v-col>
      </v-row>

      <v-card variant="tonal" class="ma-2 bg-teal-darken-4">
        <v-container>
          <v-card min-width="500" height="auto" elevation="6">
            <StockTable :stocks="stock" />
          </v-card>
          <v-sheet>
            <v-container class="bg-teal-darken-4">
              <v-row>
                <v-col cols="12" md="6">
                  <v-btn @click="showHistory()">History</v-btn>
                </v-col>
                <v-col cols="12" md="6" style="text-align: right">
                  <v-btn @click="printCheckStock()" style="margin-right: 10px">Check</v-btn>
                  <!--<v-btn @click="showUpdate()" style="margin-right: 10px" color="green">Update Stock</v-btn>-->
                  <v-btn @click="showDialog()" style="margin-right: -15px">Buy Stock</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-sheet>
        </v-container>
      </v-card>
    </v-card>
  </div>
  <StockDialogImport />
  <StockUpdate />
  <HistoryImportDialog />
  <ReceiptImportDialog />
  <StockCheckDialog :stocks="stock" />
  <ReceiptImportDialogDetails />
</template>
<style scoped>
#app {
  background-color: #212121;
  height: 100%;
}
</style>
