<script setup lang="ts">
import { useStockStore } from '@/stores/stock';

const stockStore = useStockStore()

stockStore.changeTable()
</script>
<template>
    <v-card>
        <v-table fixed-header height="554px" style="overflow: auto;">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Minimum</th>
                    <th class="text-center">Quantity in stock</th>
                    <th class="text-center">Unit</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item) of stockStore.tableStock" :key="item.id">
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-center">{{ item.name }}</td>
                    <td class="text-center">{{ item.MinQuantity }}</td>
                    <td class="text-center">{{ item.quantityLasts }}</td>
                    <td class="text-center">{{ item.unit }}</td>
                    <td class="text-center">
                        <v-btn :class="{ 'highlight-row': item.quantityLasts < item.MinQuantity &&item.quantityLasts >0, 'zero-row': item.quantityLasts === 0,'normal':item.quantityLasts >= item.MinQuantity }" style="min-width: 150px;">
                            {{ item.quantityLasts < item.MinQuantity && item.quantityLasts >0 ? 'Low Stock' : (item.quantityLasts === 0 ? 'Out of Stock' : 'Full Stock') }}
                        </v-btn>
                    </td>
                </tr>
            </tbody>
        </v-table>
    </v-card>
</template>
<style scoped>
.highlight-row {
    background-color: rgb(250, 197, 24);
}
.zero-row {
    background-color: rgb(255, 0, 0);
}
.normal{
    background-color: green;
}
</style>