<script setup lang="ts">

import { useStockStore } from '@/stores/stock';

import type { VForm } from 'vuetify/components';

import { ref } from 'vue';
import { nextTick } from 'vue';
import material from '@/services/material';


const refForm = ref<VForm | null>(null)
const stockStore = useStockStore()

function close() {
    stockStore.checkDialog = false
    nextTick(() => {
        stockStore.stock.forEach((item, index) => {
            stockStore.stock[index].quantityNow = 0;
        });
    })

}

function validate() {
    nextTick(() => {
        stockStore.stock.forEach(async (item, index) => {
            stockStore.stock[index].quantityLasts = stockStore.stock[index].quantityNow
            stockStore.stock[index].quantityNow = 0;
            const res = await material.addMaterial(item)
        });
    })
    stockStore.checkDialog = false
}
</script>
<template>
    <v-row justify="center">
        <v-dialog v-model="stockStore.checkDialog" persistent width="1000px" height="1000px">
            <v-card>
                <v-card-title class="text-h5 text-center">
                    Check Stock
                </v-card-title>
                <v-card-text>
                    <v-form ref="refForm" @submit.prevent="validate">
                        <v-table fixed-header height="550px" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Min Quantity</th>
                                    <th class="text-center">Quantity in Stock</th>
                                    <th class="text-center">Unit</th>
                                    <th class="text-center">Edit Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item) of stockStore.stock" :key="item.id">
                                    <td class="text-center">{{ item.id }}</td>
                                    <td class="text-center">{{ item.name }}</td>
                                    <td class="text-center">{{ item.MinQuantity }}</td>
                                    <td class="text-center">{{ item.quantityLasts }}</td>
                                    <td class="text-center">{{ item.unit }}</td>
                                    <td class="text-center">
                                        <v-text-field
                                            label="Quantity Now" required hide-details v-model="item.quantityNow" type="number">
                                        </v-text-field>
                                    </td>
                                </tr>
                            </tbody>
                        </v-table>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <p style="font-size: 20px;">
                        ลงชื่อ(.........................)
                        <br>
                        (..........................)
                        <br>
                        พนักงาน
                    </p>
                </v-card-actions>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <div>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="close()">
                            Disagree
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="validate()">
                            Agree
                        </v-btn>
                    </div>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>