<script setup lang="ts">
import material from '@/services/material';
import { useStockStore } from '@/stores/stock';
import { nextTick, ref } from 'vue';
const stockStore = useStockStore()

const total = ref(0)
function close() {
    stockStore.importDialog = false
    nextTick(() => {
        stockStore.stock.forEach((item, index) => {
            stockStore.stock[index].quantityIm = 0;
        });
        stockStore.clear()
    })
}
function save() {
    nextTick(() => {
        const allQuantityImZero = stockStore.stock.every(item => item.quantityIm === 0);

        if (allQuantityImZero) {
            alert('Please buy at least one item.')
        } else {
            stockStore.stock.forEach(async (item, index) => {
                stockStore.stock[index].quantityNow = stockStore.stock[index].quantityLasts
                stockStore.receiptStock.receiptStockItem = stockStore.StockItem
                stockStore.stock[index].quantityLasts = stockStore.stock[index].quantityLasts + stockStore.stock[index].quantityIm
                const res = await material.addMaterial(item)
                stockStore.stock[index].quantityIm = 0
                stockStore.stock[index].quantityNow = 0
                
            });
            stockStore.changeTime()
            stockStore.receiptDialog = true
            stockStore.addHistory()
            stockStore.importDialog = false
        }
        
    })
}

</script>
<template>
    <v-row justify="center">
        <v-dialog v-model="stockStore.importDialog" persistent width="1000px" height="1000px">
            <v-card>
                <v-card-title class="text-h5 text-center">
                    Import Stock
                </v-card-title>
                <v-card-text>
                    <v-form ref="refForm">
                        <v-table fixed-header height="480px" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Minimum</th>
                                    <th class="text-center">Quantity in Stock(Now)</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity Import</th>
                                    <th class="text-center"> Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item) of stockStore.stock" :key="item.id">
                                    <td class="text-center">{{ item.id }}</td>
                                    <td class="text-center">{{ item.name }}</td>
                                    <td class="text-center">{{ item.MinQuantity }}</td>
                                    <td class="text-center">{{ item.quantityLasts }} {{ item.unit }}</td>
                                    <td class="text-center">{{ item.price }}</td>
                                    <td class="mx-4 text-center">
                                        <v-btn icon="mdi-minus" density="compact" @click="stockStore.dec(item)"></v-btn>
                                        {{ item.quantityIm }}
                                        <v-btn icon="mdi-plus" density="compact" @click="stockStore.inc(item)"></v-btn>
                                    </td>
                                    <td class="text-center">
                                        <pre>{{ item.quantityIm * item.price }}</pre>
                                    </td>
                                </tr>
                            </tbody>
                        </v-table>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <div>Total:{{ stockStore.receiptStock.total }}</div>
                </v-card-actions>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <div>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="close()">
                            Cancel
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="save()">
                            Buy
                        </v-btn>
                    </div>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>