<script setup lang="ts">
import { useStockStore } from '@/stores/stock';

import { nextTick, ref } from 'vue';
import type { VForm } from 'vuetify/components';


const stockStore = useStockStore()
const refForm = ref<VForm | null>(null)
let qtyIm = 0
let qtyImNum = 0

async function update() {
    const {valid} = await refForm.value!.validate()
    if (valid) {
        stockStore.updateDialog = false;

        stockStore.stock.forEach((item, index) => {
            let qtyIm = stockStore.stock[index].quantityIm;
            let qtyImNum = typeof qtyIm === 'string' ? parseInt(qtyIm) || 0 : 0;

            stockStore.stock[index].quantityLasts += qtyImNum;
            stockStore.stock[index].quantityIm = 0;

            stockStore.tableStock[index] = { ...stockStore.stock[index] };
        });
    }
}
</script>
<template>
    <v-row justify="center">
        <v-dialog v-model="stockStore.updateDialog" persistent width="700px" height="700px">
            <v-card>
                <v-card-title class="text-h5 text-center">
                    Import Stock
                </v-card-title>
                <v-card-text>
                    <v-form ref="refForm">
                        <v-table fixed-header height="550px" style="overflow: auto;">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Quantity in Stock(Now)</th>
                                    <th class="text-center">Quantity Import</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item) of stockStore.stock" :key="item.id" editedIndex=item.id>
                                    <td class="text-center">{{ item.id }}</td>
                                    <td class="text-center">{{ item.name }}</td>
                                    <td class="text-center">{{ item.quantityLasts }}</td>
                                    <td class="text-center">
                                        <v-text-field :rules="[(v) => !!v || 'Field is required']" label="Import" required hide-details v-model="item.quantityIm" >
                                        </v-text-field>
                                    </td>
                                </tr>
                            </tbody>
                        </v-table>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <div>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="stockStore.updateDialog = false,qtyIm =0">
                            Cancel
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="update()">
                            Update
                        </v-btn>
                    </div>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>